---
---
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">
    <link rel="stylesheet" type="text/css" href="{{ "/static/css/deadlines.css" | prepend:site.baseurl }}">
    <link rel="shortcut icon" href="{{ "/static/img/favicon.png" | prepend:site.baseurl }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  </head>
  <body>
    <header class="site-header">
      <div class="container">
        <div class="header-top">
          <div>
            <h1>{{ site.title }}</h1>
            <p class="subtitle">{{ site.description }}</p>
          </div>
          <div class="header-actions">
            <a href="https://twitter.com/share" class="twitter-share-button" data-text="{{ site.description }}{% if site.twitter_hashtag %} #{{ site.twitter_hashtag }}{% endif %}" data-show-count="false">Tweet</a>
            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            <iframe src="https://ghbtns.com/github-btn.html?user={{ site.github_username }}&repo={{ site.github_repo }}&type=star&count=true" frameborder="0" scrolling="0" width="160px" height="20px"></iframe>
          </div>
        </div>
        <p class="header-meta">
          To add or update a conference, <a href="//github.com/{{ site.github_username }}/{{ site.github_repo }}">send a pull request</a>.
          Last update: {{ site.time | date: "%-d %B %Y" }}.
        </p>
      </div>
    </header>

    <div class="container">
      <div class="filter-bar">
        <span class="filter-label">Filter:</span>
        <form class="filter-form">
          {% for type in site.data.types %}
          <div class="checkbox">
            <label>
              <input type="checkbox" id="{{ type.tag }}-checkbox"> {{ type.name }}
            </label>
          </div>
          {% endfor %}
        </form>
      </div>

      <div class="conf-container">
        {% for conf in site.data.conferences %}
        {% assign conf_id = conf.name | append: conf.year | slugify %}
        <div id="{{ conf_id }}" class="conf {% for tag in conf.tags %} {{tag}} {% endfor %}">
          <div class="conf-info">
            <div class="conf-name-row">
              <h2><a href="{{ conf.link }}">{{ conf.name }} {{ conf.year }}</a></h2>
              <div class="conf-tags">
                {% for tag in conf.tags %}<span class="tag-badge {{ tag }}">{{ tag }}</span>{% endfor %}
              </div>
            </div>
            <div class="conf-meta">
              {{ conf.description }}
            </div>
            <div class="conf-details">
              {{ conf.date | replace: '-', '–' }}{% if conf.place %} <span class="sep">·</span> <a href="http://maps.google.com/?q={{ conf.place }}">{{ conf.place }}</a>{% endif %}
            </div>
          </div>
          <div class="conf-countdown">
            <span class="timer"></span>
            <div class="deadline">
              <span class="deadline-label">Deadline</span>
              <span class="deadline-time"></span>
              {% if conf.comment %}<div class="conf-comment">{{ conf.comment }}</div>{% endif %}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

    <footer class="site-footer">
      <div class="container">
        Maintained by <a href="https://jeanphilippemonteuuis.github.io/">Jean-Philippe Monteuuis</a>
      </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.countdown/2.2.0/jquery.countdown.min.js" integrity="sha512-lteuRD+aUENrZPTXWFRPTBcDDxIGWe5uu0apPEn+3ZKYDwDaEErIK9rvR0QzUGmUQ55KFE2RqGTVoZsKctGMVw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.34/moment-timezone-with-data-10-year-range.min.js" integrity="sha512-d11VXfxQMn+sZuIgzHITdIuInr4cVRGV/uLiSI643WH/J+p4gPFYSHXRMR2v+w4Rn2TSyzJjsZjc0M7+Qd+UXw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/store.js/2.0.12/store.legacy.min.js" integrity="sha512-3yZTInL4yLU1ajnca35KTk6YE4RPHJU2y+jbhHAykE9OzMHpc2BIJghNsbkBNacIJWLLUmUkLEGPDDWrFY2zzw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{{ site.baseurl}}/static/js/main.js" async></script>
    {% if site.ga_id %}
    {% include analytics.html %}
    {% endif %}
  </body>
</html>
